<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <div class="container">
    <div class="backwhite rounded black-text ">
    <div *ngIf="data.autor == iduser">
      <button class="btn btn-danger" (click)="ElimModal()">X</button>
    </div>
    <br>
      <p class="h4" (click)="AuthorPage()">{{data.authorname}}</p>
      <div class="row text-center">
              <div class="col" *ngIf="data.category == 'Dibujo-fotografia'">
                  <div class="media">
                    <ion-slides class="image-slider imageslide" loop="true" slidesPerView="2">
                      <ion-slide *ngFor="let img of images">
                        <img src="{{img.big}}" class="thumb-img"  (click)="ImageExpand(img.big)"/>
                      </ion-slide>
                    </ion-slides>
                    </div>
                </div>
            
              <div class="col" *ngIf="data.category == 'Música'">
                <br>
                <div>
                <div class="col">
                  <h5>{{tituloaudioactual}}</h5>
                </div>
                <div class="col" >
                  <audio  [(src)]="audioactual" controls>
                  </audio>
                </div>
              </div>
              
              <div class="col">

                  <!--<ul class="list-group list-group-flush">
                  <div *ngFor="let aud of audios">    
                    <li class="list-group-item btn btn-primary" (click)="ChangeAudio(aud)">{{aud.title}}</li>
                  </div>
                  </ul>-->

                <ion-list>
                <ion-item button *ngFor="let aud of audios" (click)="ChangeAudio(aud)">
                  <ion-label [color]="aud.link != audioactual ? 'secondary':'light'||aud.link == audioactual ? 'success':'light'">
                    {{aud.title}}
                  </ion-label>
                </ion-item>
              </ion-list>
              </div>
            </div>
              <div class="col" *ngIf="data.category == 'Video'">
                <div class="col">
                  <h4>{{tituloActual}}</h4>
                </div>
              <div class="col">
                  <div class="media">
                  <video [(src)]="VideoActual" controls>
                  </video>
                </div>
              </div>
              <div class="col">
                <ion-list>
                  <ion-item button *ngFor="let vid of srcVideo" (click)="ChangeVideo(vid)">
                    <ion-label [color]="vid.link != VideoActual ? 'secondary':'light'||vid.link == VideoActual ? 'success':'light'">
                      {{vid.title}}
                    </ion-label>
                  </ion-item>
                </ion-list>
              </div>
              </div> 
            </div>  
      
      <div class="row text-center">
        <div class="col">
          <h2>{{data.titulo}}</h2>
          <p>{{data.texto}}</p>
        <div *ngIf="data.autor != iduser">
          <ion-item>
            <ion-label>Puntuación</ion-label>
            <ion-icon name="star-outline"></ion-icon>
            <ion-select placeholder="Puntuación" [(ngModel)]="rate">
              <ion-select-option value="1">1</ion-select-option>
              <ion-select-option value="2">2</ion-select-option>
              <ion-select-option value="3">3</ion-select-option>
              <ion-select-option value="4">4</ion-select-option>
              <ion-select-option value="5">5</ion-select-option>
            </ion-select>
          </ion-item>
            <button class="btn btn-primary" (click)="Puntuar()">Puntuar</button>
        </div>
      </div>
      </div>
      <br>
      <div *ngIf="auth" class="col  rounded" style="justify-content: center;">
        <!--<input [(ngModel)]="comentario" type="text" name="comentario" id="comentario">-->
        <textarea class="form-control" id="txarea" [(ngModel)]="comentario" rows="2"></textarea>
        <button class="btn btn-primary" (click)="Comentar()">Comentar</button>
      </div>
      <div *ngIf="!auth" class="row backwhite rounded">
        <h3>Logeate para poder comentar</h3>
      </div>
      <br>
      <hr>
      <div class="scroll" *ngFor="let com of data.coments;let i = index">
        <div class="row">
          <div class="col-lg-1">
            <img src="{{com.icono}}" class="rounded-circle z-depth-0 coment-icon"
            data-toggle="dropdown" alt="avatar image" height="35">
          </div>
          <div class="col-lg-11">
            <h3>{{com.name}}</h3>
          </div>
    
        </div>
        <br>
    
        <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-9">
            <p>{{com.coment}}</p>
          </div>
          <div class="col-lg-2" *ngIf="com.id == iduser">
            <button class="btn btn-danger" type="button" (click)="Eliminar(i)">Eliminar</button>
          </div>
        </div>
        <hr>
  </div>
</div>
</div>
<br>
</ion-content>
